
<div class="row">
	<div class="col-md-12">

		<div class="image-grid">
			<!-- Grid row -->
			<div class="row">

			  <!-- Grid column -->
			  <div class="col-sm-12 mb-3 grid-element main">
			  	<div class="services-cont">
			  		<ul class="list-inline">
					  <li class="list-inline-item"><img src="images/service-01.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-03.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-04.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-02.png" class="img-fluid z-depth-1"></li>
					</ul>
			  	</div>
			    <img src="images/Recurso_6.png" class="img-fluid z-depth-1" alt="Responsive image">

			  </div>
			  <!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>

		<div style="margin-top: 50px;">
			<h3 class="titulo">Mision</h3>
			<p class="text-left">America Drivers Club delivers high-quality service . We succeed by setting and achieving the highest standards in service, customer experience, and claims satisfaction within the industry. We are innovative in product development, delivery and service in order to create the most positive customer experiences.</p>
		</div>

		<div style="margin-top: 50px;">
			<h3 class="titulo">Vision</h3>
			<p class="text-left">To be the most respected Roadside Assistance provider in the United States.</p>
		</div>

		<div style="margin-top: 50px; margin-bottom: 50px;">
			<h3 class="titulo">Values</h3>
			<ul class="text-left values-list">
				<li>We provide innovative membership design and digital delivery.</li>
				<li>We settle claims fairly and quickly with our deep financial resources.</li>
				<li>We make it easy to understand your coverage and membership options.</li>
			</ul>
		</div>
		
	</div>

</div>
