
<div class="row">
	<div class="col-md-12">

		<div class="image-grid">
			<!-- Grid row -->
			<div class="row">

			  <!-- Grid column -->
			  <div class="col-sm-12 mb-3 grid-element main">
			  	<div class="services-cont">
			  		<ul class="list-inline">
					  <li class="list-inline-item"><img src="images/service-01.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-03.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-04.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-02.png" class="img-fluid z-depth-1"></li>
					</ul>
			  	</div>
			    <img src="images/Recurso_9.png" class="img-fluid z-depth-1" alt="Responsive image">

			  </div>
			  <!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>

		<div class="text-center contact-info">
			<img src="images/Recurso_10.svg">
			<h4 class="titulo">Customer Service</h4>
			<h4 class="titulo">contact@americadriversclub.com</h4>

			<img src="images/Recurso_11.svg">
			<h4 class="titulo">Partnership</h4>
			<h4 class="titulo">rep@americadriversclub.com</h4>

			<img src="images/Recurso_12.svg">
			<h4 class="titulo">Phone</h4>
			<h4 class="titulo">855-500-6912</h4>
		</div>
		
	</div>

</div>
