
<div class="row">
    <div class="col-md-12">

        <div class="image-grid">
            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-sm-12 mb-3 grid-element main">
                <div class="services-cont">
                    <ul class="list-inline">
                      <li class="list-inline-item"><img src="images/service-01.png" class="img-fluid z-depth-1"></li>
                      <li class="list-inline-item"><img src="images/service-03.png" class="img-fluid z-depth-1"></li>
                      <li class="list-inline-item"><img src="images/service-04.png" class="img-fluid z-depth-1"></li>
                      <li class="list-inline-item"><img src="images/service-02.png" class="img-fluid z-depth-1"></li>
                    </ul>
                </div>
                <img src="images/Recurso_5.png" class="img-fluid z-depth-1" alt="Responsive image">

              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row" style="display: flex;">

              <!-- Grid column -->
              <div class="col-sm-3 mb-3 grid-element tall">
                <img src="images/Recurso_1.png" class="img-fluid z-depth-1" alt="Responsive image">
                <div class="grid-overlay overlay-green">Fuel Delivery</div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-sm-6 mb-3" style="margin-bottom: 0!important;">

                <div class="row">
                    <div class="col-sm-12 mb-3 grid-element whide">
                        <img src="images/Recurso_2.png" class="img-fluid z-depth-1" alt="Responsive image">
                        <div class="grid-overlay overlay-yellow">Battery Jumpstart</div>
                    </div>
                    <div class="col-sm-12 mb-3 grid-element whide">
                        <img src="images/Recurso_3.png" class="img-fluid z-depth-1" alt="Responsive image">
                        <div class="grid-overlay overlay-red">Lockout</div>
                    </div>
                </div>
                

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-sm-3 mb-3 grid-element tall">
                <img src="images/Recurso_4.png" class="img-fluid z-depth-1" alt="Responsive image">
                <div class="grid-overlay overlay-blue">Towing & Flat tire change</div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>

        <div style="margin-top: 50px; margin-bottom: 50px;">
            <h4 class="titulo">What is America Drivers Club?</h4>
            <p class="text-left">With our experienced management team at the helm, America Drivers Club is charting a course for continued growth while remaining dedicated to customer service and technological development.</p>
        </div>
        
    </div>

</div>
