
<!--<div class="row">-->
    <div class="col-md-12 bg-bar" >
        <div class="row" style="height: 500px; padding: 0 !important;">
            <div class="col-md-6" style="text-align: center; padding-top: 7%;" >
                <label style="font-size: 2.4rem; color: #1768aa; font-weight: bold;">Become A</label>
                <br>
                <div class="col-md-12" style="background-image: url(images/shape.png);
                 background-position: center;
                 background-size: contain;
                 height: 136px;
                 background-repeat: no-repeat;">
                    <label style="font-size: 2.4rem; color: #95cb69; font-weight: bold; position: relative;    top: 29%;">Reseller</label>
                </div>
                
                <br>
                <label  style="font-size: 2.4rem; color:white; font-weight: bold;">JOIN TODAY!</label>
                <br>
                <a class="btn btn-danger" href="#/reseller/apply">Apply Now</a>
                <a class="btn btn-success" href="#/reseller/singin">Sing In</a>
            </div>
            <div class="col-md-6" style="  
                 background-image: url(images/guy.png);
                 background-position: right bottom;
                 background-size: 64%;
                 background-repeat: no-repeat;
                 " >
            </div>
        </div>
            
    </div>

<!--</div>-->
