
<div class="row">
	<div class="col-md-12">

		<div class="image-grid">
			<!-- Grid row -->
			<div class="row">

			  <!-- Grid column -->
			  <div class="col-sm-12 mb-3 grid-element main">
			  	<div class="services-cont">
			  		<ul class="list-inline">
					  <li class="list-inline-item"><img src="images/service-01.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-03.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-04.png" class="img-fluid z-depth-1"></li>
					  <li class="list-inline-item"><img src="images/service-02.png" class="img-fluid z-depth-1"></li>
					</ul>
			  	</div>
			    <img src="images/Recurso_7.png" class="img-fluid z-depth-1" alt="Responsive image">

			  </div>
			  <!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>

		<div style="margin-bottom: 30px;">
			<h3 class="titulo"><span class="badge badge-towing"><img src="images/service-01.png">Towing & Flat tire change</span></h3>
			<p class="text-left">When you’re leaving for a play group and your car won’t go, we’ll be there to give you a tow.<br>You were stocking up on diapers and came out of the store to discover a flat tire. We’ll come to you and change the tire for you.</p>
		</div>
		
		<div style="margin-bottom: 30px;">
			<h3 class="titulo"><span class="badge badge-lockout"><img src="images/service-03.png">Lockout</span></h3>
			<p class="text-left">You thought the keys were in your diaper bag, but they’re on the front seat inside your locked car. We’ll come unlock it for free.</p>
		</div>

		<div style="margin-bottom: 30px;">
			<h3 class="titulo"><span class="badge badge-jumpstart"><img src="images/service-04.png">Battery Jumpstart</span></h3>
			<p class="text-left">It’s time to pick the kids up from school! You go to start the car and discover you have a dead battery. We’ll come to you for on-the-spot battery replacement.</p>
		</div>

		<div style="margin-bottom: 30px;">
			<h3 class="titulo"><span class="badge badge-fuel"><img src="images/service-02.png">Fuel Delivery</span></h3>
			<p class="text-left">On your way to the zoo for the first time with your little one and you run out of gas. Don’t worry, with Az Drivers you receive free gas delivery!</p>
		</div>
	</div>

</div>
