<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12" style="color: #FFF; text-align: center; background-color: #1c335c; padding: 10px;">
            <h5 style="margin-bottom: 0;">Renew Subscription</h5>
        </div>
    </div>
    <form >
        <fieldset>
            <div class="row">
                <div class="col-sm-12 form-section">General Information</div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <dl class="row p-3">
                        <div class="col-sm-12 form-group-separator">Client</div>

                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">{{client.name}} {{client.apellido}}</dd>

                        <dt class="col-sm-4">D.O.B</dt>
                        <dd class="col-sm-8">{{client.date_birth| date: 'MM-dd-yyyy' }}</dd>

                        <dt class="col-sm-4">Language</dt>
                        <dd class="col-sm-8">{{ getLanguage(client.idioma)}}</dd>

                        <div class="col-sm-12 form-group-separator">Contact</div>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">{{client.email}}</dd>

                        <dt class="col-sm-4">Phone</dt>
                        <dd class="col-sm-8">{{client.phone| tel}}</dd>

                        <dt class="col-sm-4">Phone #2</dt>
                        <dd class="col-sm-8">{{client.phone2| tel}}</dd>

                        <dt class="col-sm-4">Address</dt>
                        <dd class="col-sm-8">{{client.address}}</dd>

                        <dt class="col-sm-4">City</dt>
                        <dd class="col-sm-8">{{client.city}}</dd>

                        <dt class="col-sm-4">State</dt>
                        <dd class="col-sm-8">{{ getState(client.state) | uppercase}}</dd>

                        <dt class="col-sm-4">ZIP</dt>
                        <dd class="col-sm-8">{{client.zip}}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row p-3">
                        <div class="col-sm-12 form-group-separator">Insurance Company</div>

                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">{{client.compania}}</dd>

                        <div class="col-sm-12 form-group-separator">Dates</div>

                        <dt class="col-sm-4">Efective</dt>
                        <dd class="col-sm-8">{{client.effective| date: 'MM-dd-yyyy' }}</dd>

                        <dt class="col-sm-4">Pay Date</dt>
                        <dd class="col-sm-8">{{client.fechaMed| date: 'MM-dd-yyyy'}}</dd>

                        <dt class="col-sm-4">Exp Date</dt>
                        <dd class="col-sm-8">{{client.exp| date: 'MM-dd-yyyy' }}</dd>

                        <div class="col-sm-12 form-group-separator">Service</div>

                        <dt class="col-sm-4">Current Service</dt>
                        <dd class="col-sm-8">
                            <label ng-if="client.service == 1">Roadside</label>
                            <label ng-if="client.service == 2">Glass</label>
                        </dd>

                        <dt class="col-sm-4">Period Membership</dt>
                        <dd class="col-sm-8">
                            <label ng-if="client.plan == 1">Monthly</label>
                            <label ng-if="client.plan == 2">Six Months</label>
                            <label ng-if="client.plan == 3">One Year</label>
                        </dd>
                        <dt class="col-sm-4">Credit Pending $</dt>
                        <dd class="col-sm-8">{{client.credit_value}}</dd>

                        <dt class="col-sm-4">Credi Payment  Date</dt>
                        <dd class="col-sm-8">{{client.payment_date_credit}}</dd>
                    </dl>
                </div>
            </div>






            </div>

            <div class="row">
                <div class="col-sm-12 form-section">Payment Method</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3 px-3" ng-class="{ 'mx-auto': (!selectedPlan.value || selectedPlan.value == 1), 'ml-auto': (selectedPlan.value == 2 || selectedPlan.value == 3) }">
                    <label for="pay">Method</label>
                    <select class="form-control" id="pay" ng-model="client.pay" required>
                        <option value="" ng-selected="{{!client.pay}}">Select...</option>
                        <option value="1" ng-selected="{{client.pay == 1}}">CASH</option>
                        <option value="2" ng-selected="{{client.pay == 2}}">CARD</option>
                        <option value="1" ng-selected="{{client.pay == 1}}">FREE</option>
                    </select>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6 px-5 mx-auto text-center">
                    <label for="paid">Please EnterAmount</label>
                    <input type="text" class="form-control total-amount-input" id="paid" ng-model="client.paid" ng-init="client.paid = 0" ui-number-mask required="required">
                </div>
                <div class="form-group col-md-6 px-5 mx-auto text-center">
                    <label for="calculo">Amount Required</label>
                    <input type="text" class="form-control total-amount-input" id="calculo" ng-value="client.total" disabled="disabled">
                </div>
            </div>

            <br>
            <!--<div class="card-info-section" ng-if="client.pay == 2">
                <div class="panel-heading display-table text-center">
                    <img class="img-responsive center-block" src="images/accepted_c22e0.png">
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="billingName">CARDHOLDER NAME</label>
                        <input type="text" class="form-control" id="billingName" placeholder="FIRST NAME" ng-model="client.billingName" required="required">
                        <input type="text" class="form-control" id="billingLastName" placeholder="LAST NAME" ng-model="client.billingLastName" required="required">
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="cardNumber">CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="VALID CARD NUMBER" ng-model="cardInfo.cardNumber" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="mm">EXPIRATION DATE </label>
                        <input type="text" class="form-control" id="mm" placeholder="MM" ng-model="cardInfo.mm" required="required" style="max-width: 60px; display: inline-block;">
                        <span> / </span>
                        <input type="text" class="form-control" id="yy" placeholder="YY" ng-model="cardInfo.yy" required="required" style="max-width: 60px; display: inline-block;">
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="cardcode">Security Code</label>
                        <input type="text" class="form-control" id="cardcode" placeholder="CVV" ng-model="cardInfo.cardcode" required="required" style="max-width: 60px; display: inline-block;">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="recurrentPayment" ng-model="cardInfo.recurrentPayment">
                            <label class="custom-control-label" for="recurrentPayment">Set recurrent payment</label>
                        </div>
                    </div>
                </div>
                <div class="form-row" ng-if="cardInfo.recurrentPayment">
                    <div class="form-group col-md-3 mx-auto text-center">
                        <label for="paymentDay">Payment day</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="paymentDay" ng-model="cardInfo.paymentDay" ng-init="client.effective" required="required">
                        </div>
                    </div>
                </div>
            </div>-->
            <div id="recurrent-pay-secction" ng-if="client.pay">
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="recurrentPayment" ng-model="cardInfo.recurrentPayment" ng-change="initPaymentDay()">
                            <label class="custom-control-label" for="recurrentPayment">Set recurrent payment</label>
                        </div>
                    </div>
                </div>
                <div class="form-row" ng-if="cardInfo.recurrentPayment">
                    <div class="form-group col-md-3 mx-auto text-center">
                        <label for="paymentDay">Payment day</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="paymentDay" ng-model="cardInfo.paymentDay" ng-init="client.effective" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <div id="card-info-section" ng-if="client.pay == 2 || cardInfo.recurrentPayment">
                <div class="panel-heading display-table text-center">
                    <img class="img-responsive center-block" src="/new-system/common/images/accepted_c22e0.png">
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="billingName">CARDHOLDER NAME</label>
                        <input type="text" class="form-control" id="billingName" placeholder="FIRST NAME" ng-model="cardInfo.billingName" required="required">
                        <input type="text" class="form-control" id="billingLastName" placeholder="LAST NAME" ng-model="cardInfo.billingLastName" required="required">
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="cardNumber">CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="VALID CARD NUMBER" ng-model="cardInfo.cardNumber" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="mm">EXPIRATION DATE </label>
                        <input type="text" class="form-control" id="mm" placeholder="MM" ng-model="cardInfo.mm" required="required" style="max-width: 60px; display: inline-block;">
                        <span> / </span>
                        <input type="text" class="form-control" id="yy" placeholder="YY" ng-model="cardInfo.yy" required="required" style="max-width: 60px; display: inline-block;">
                    </div>
                </div>
                <div class="form-row" >
                    <div class="form-group col-md-6 mx-auto text-center">
                        <label for="cardcode">Security Code</label>
                        <input type="text" class="form-control" id="cardcode" placeholder="CVV" ng-model="cardInfo.cvv" required="required" style="max-width: 60px; display: inline-block;">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="text-center">
            <button type="button" ng-click="DoPayment()" class="btn btn-danger my-3">submit</button>

        </div>


    </form>
</div>