.Font_th{
    color: #1d335c;
    font-weight: bold;
    font-size: 1rem;
    background-color: #ededf3;

}
.table td{
    color: #57595d;
    font-weight: bold;
}
#clients-table i{
    font-size: 20px;
    /*float: left;*/
    margin-right: 4%;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

