<form name="frmClient" ng-submit="SearchCustomer()">
    <div class="row form-inline">

        <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="number" class="form-control" placeholder="Search By member #" ng-model="searchboxID">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="text" class="form-control" placeholder="Search Name" ng-model="searchboxName">
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="text" class="form-control" placeholder="Search Last Name" ng-model="searchboxLastName">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <button class="btn btn-primary " >Submit</button>
        </div>

    </div>
</form>

<div class="row">
    <div class="col-sm-12 table-resposive">

        <table class="table table-striped" id="clients-table"  style="text-align: center; font-size: 14px;">
            <thead>
                <tr>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('id')">
                            Memberhip # <span ng-show="sortingOrder == 'id'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('id_users')">
                            Agent <span ng-show="sortingOrder == 'id_users'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('plan')">
                            Type <span ng-show="sortingOrder == 'plan'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('status')">
                            Status <span ng-show="sortingOrder == 'status'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('fechaMed')">
                            Pmt Date <span ng-show="sortingOrder == 'fechaMed'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        Amount
                    </th>

                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('name')">
                            Name <span ng-show="sortingOrder == 'name'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('phone')">
                            Phone <span ng-show="sortingOrder == 'phone'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        <a class="col-sort" ng-click="sort_by('id_agencia')">
                            Agency <span ng-show="sortingOrder == 'id_agencia'" ng-class="!reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'"></span>
                        </a>
                    </th>
                    <th class="Font_th">
                        Pay Off Balance
                    </th>
                    <th class="Font_th" style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in Clients| orderBy:sortingOrder:reverse | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
                    <td>#{{c.id}}</td>
                    <td>{{c.id_users}}</td>
                    <td>
                        <span ng-if="c.plan == 1">Monthly</span>
                        <span ng-if="c.plan == 2">Six Months</span>
                        <span ng-if="c.plan == 3">Year</span>
                    </td>
                    <td ng-if="c.habilitado == 0" class="text-danger">Cancelled Member Request</td>
                    <td ng-if="c.habilitado == 1"  ng-class="{'text-success':CompareDate(date,c.effective,c.fechaMed,c.exp,c.credit_value,c.payment_date_credit)==='Active','text-warning':CompareDate(date,c.effective,c.fechaMed,c.exp,c.credit_value,c.payment_date_credit)==='Pending Cancellation','text-danger':CompareDate(date,c.effective,c.fechaMed,c.exp,c.credit_value,c.payment_date_credit)==='Expired' || CompareDate(date,c.effective,c.fechaMed,c.exp,c.credit_value,c.payment_date_credit)==='Cancelled'}" ng-bind="CompareDate(date,c.effective,c.fechaMed,c.exp,c.credit_value,c.payment_date_credit) | date:'yyyy - MM - dd'" ></td>
                    <td>{{c.fechaMed| date: 'MM-dd-yyyy'}}</td>
                    <td>{{c.total}}</td>
                    <!--<td ng-bind="formatDate(date) | date:'yyyy-MM-dd' , " ng-if="date > c.fechaMed && date <= paymentDate" >Pending </td>-->
                    <td>{{c.name}}{{c.apellido}}</td>
                    <td>{{c.phone| tel}}</td>
                    <td>{{c.id_agencia}}</td>
                    <td>${{c.credit_value}}</td>
                    <td>
                        <a href="#/Customer/{{c.id}}"><i class="fa fa-cog" style="font-size:24px"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" >
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        <ul 
            uib-pagination total-items="getData().length" 
            items-per-page="itemsPerPage" 
            ng-model="currentPage" 
            max-size="5" 
            class="pagination pagination-sm float-right" 
            boundary-link-numbers="true" rotate="false">
        </ul>
    </div>
</div>
